.App {
  text-align: center;
}
img{
  height:200px;
  width:200px;
  border-radius: 15px;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
}
::placeholder{
  font-weight: bold;
  color: grey;
  opacity: 0.7;
}
